/* ==========================================================================
	Variables
/* ========================================================================== */
/* Directories */
$theme_dir: '/<%= contentDir %>/themes/<%= theme.dir %>/';
$images_dir: '/<%= contentDir %>/themes/<%= theme.dir %>/images/';

/* Colors */
$color_body_copy: #444;
$color_link: #26527c;
$color_opposite: #fff;

/* Font Sizes */
$size_base: 1em;
