<?php

define('DB_NAME', '<%= conf.get('dbName') %>');
define('DB_USER', '<%= conf.get('dbUser') %>');
define('DB_PASSWORD', '<%= conf.get('dbPass') %>');
define('DB_HOST', '<%= conf.get('dbHost') %>');
$table_prefix  = '<%= conf.get('tablePrefix') %>';
define('WP_DEBUG', false);
